[submodule "packages/sledge"]
	path = packages/sledge
	url = https://github.org/lostbean/sledge.git
[submodule "packages/queryforest"]
	path = packages/queryforest
	url = https://github.org/lostbean/queryforest.git
[submodule "packages/hammer"]
	path = packages/hammer
	url = https://github.org/lostbean/hammer.git
[submodule "packages/linear-vect"]
	path = packages/linear-vect
	url = https://github.com/lostbean/linear-vect.git
[submodule "packages/vtk"]
	path = packages/vtk
	url = https://github.com/lostbean/vtk.git
[submodule "packages/mcl"]
	path = packages/mcl
	url = https://github.com/lostbean/mcl.git
