[submodule "packages/sledge"]
	path = packages/sledge
	url = git@github.org:lostbean/sledge.git
[submodule "packages/queryforest"]
	path = packages/queryforest
	url = git@github.org:lostbean/queryforest.git
[submodule "packages/hammer"]
	path = packages/hammer
	url = git@github.org:lostbean/hammer.git
[submodule "packages/linear-vect"]
	path = packages/linear-vect
	url = git@github.com:lostbean/linear-vect.git
